node_modules/
www/
android/app/build/
android/build/
android/.gradle/
android/.idea/
android/local.properties
android/upload-keystore.jks
android/keystore.properties
*.jks
*.p8
*.p12
*.mobileprovision
*.keystore
keystore.properties
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/Podfile.lock
ios/App/build/
ios/DerivedData/
.DS_Store
